node_modules
dist
.tmp
.sass-cache



# misc notes
# ---------------------
notes


# general files
# ------------------
.DS_Store
Thumbs.db
._*
.cache
.project
.settings
.tmproj
*.esproj
nbproject
.idea
*.sublime-project
*.sublime-workspace
nbproject
manifest.mf
build.xml
